@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Roboto+Slab:wght@200;500;800&display=swap');
.chessdotcom{
   

    border:5px solid red;
    
    
}

.signupClickButton{
   background-color:#494846;
}
.loginClickButton{
 background-color: #80b64b;  
}

.signupClickButton,.loginClickButton{
   justify-content: center;
   height: 2.2rem;
   box-sizing: border-box;
   padding:0.1rem;
   margin-left:0%;
   margin-right:0.1rem;
   border-radius: 0.25rem;
   display:flex;
    
   font-size: 5rem;
   color:hsla(0,0%,100%,0.85);
   width:90%;
   gap: 0.5rem;
   
   
   
   font-family:"Montserrat",sans-serif;
   text-decoration:none;
   align-items: center;
}
.disable{
   pointer-events: none;
}
.hidden{
   display:none;
}
 .leftPaneItem.leftPaneItem {
    display:flex;
    
    font-size: 5rem;
    color:hsla(0,0%,100%,0.85);
    width:100%;
    gap: 0.5rem;
    
    
    
    font-family:"Montserrat",sans-serif;
    text-decoration:none;
    align-items: center;




}
.leftPaneItem.leftPaneItem span{
    font-size:1rem;
}

#playIcon::before{
    
   background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
   width: 1.7rem;
   content: "";
   height: 1.1rem;
   background-position: 0px 174.5rem;
   background-size: 9.7rem auto;
    
    
}
#Puzzle::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position: 0px 288.5rem;
    background-size: 11.7rem auto;
     
     
 }

 #learn::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position: 1.5px 200.8rem;
    background-size: 9.7rem auto;
}
     
     
 

 #watch::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position: 0px 270rem;
    background-size: 9.7rem auto;
     
     
 }

 #news::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position: 0px 196.5rem;
    background-size: 9.7rem auto;
     
 }
 
 #social::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position:  0px 185.5rem;
    background-size: 9.7rem auto;
     
     
 }

 #more::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    background-position: -24px 298.9rem;
    background-size: 9.7rem auto;
     
     
 }
 #freetrial::before{
    
    background-image: url(https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png);
    width: 1.7rem;
    content: "";
    height: 1.1rem;
    
    background-position: 0px 210.5rem;
    background-size: 9.7rem auto;
     
     
 }
 #freetrial
 {
    color:#009fd9 ;
    width:100%;
 }



.child1{
    height:2rem;
    background-size: 122% ;
    background-repeat: no-repeat;
    background-position-x:104%;
    
    
    width:80%;
    
    display:block;
    
    background-image:url("https://www.chess.com/bundles/web/images/sprites/nav.664eccb5@2x.png");

}
.LeftPane{
    background-color:rgba(0,0,0,0.2);
    
    height:100%;
    

}


.flex1{
    display:flex;
    align-items: flex-start;
    padding-left:0.5rem;
    gap:1.5rem;
    width:100%;
    height:100%;
    box-sizing: border-box;;
    
    padding-top:var(--topMargin);
    flex-direction: column;
}

