.movePair {
    display: flex;
    /* border: 2px solid red; */
    color: white;
    flex-direction: row;
    padding:3%;
    width: 100%;
    gap:5%;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.disabled{
    pointer-events: none;
    opacity:0.5;
    border:2px solid red;
}
.movePair h4{
    width:auto !important;
    display: inline-block;
    margin:0 !important;
}
.lastMove {
    background-color: #ffffff33;
    border-bottom: 3px solid #ffffff1a;
    box-sizing: border-box;
    padding: 0.25rem;
}

.moveHistory {
    overflow: scroll;
    /* border: 2px solid blue; */
    height: 55%;
    box-sizing: border-box;
    
    
}

.even {
    background-color: #ffffff05;
}
.inMatchControls{
    display: flex;
    flex-direction: row;
    padding:5%;
    height:5%;
    box-sizing: border-box;
    /* border:2px solid red; */
    /* border-top:2px solid grey; */
    /* border:2px solid red; */

    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.inMatchControls span{
    display:inline-block!important;
    color:white;
    font-size: small;

}

.halflogo::before{
    content:"\002B";
    font-family: Chess V3;

}
.resign::before{
    content:"\0059";
    font-family: Chess V3;
    color:white !important;
}
.startlogo::before{
    content:"\0023";
    font-family: Chess V3;
}
.backlogo::before{
    content:"\002C";
    font-family: Chess V3;
}
.forwardlogo::before{
    content:"\2026";
    font-family: Chess V3;
}
.endlogo::before{
    content:"\0040";
    font-family: Chess V3;
}
.undologo{
    width:1rem;
    height:1rem;
    background: url("../assets/return.png");
    background-size: contain;
    }

.pauselogo{
    width:1rem;
    height:1rem;
    background: url("../assets/pause.png");
    background-size: contain;   
}

.undoRequest{
    border:2px solid red;
    width:80%;
    margin:auto auto;
    gap:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white !important;

}
.rejectDraw{
    background-color: #ffffff14;
    padding:0.25rem;
    width:40%;
    border-radius: 0.25rem;
    border:none !important;
 
}
.drawButtons{
    display:flex;
    border:none !important;
    
    border:2px solid red;
    width:100%;
    gap:1rem;
    box-sizing: border-box;
    justify-content: center;
}
.acceptDraw{
    background-color: #a3d160;
    padding: 0.25rem;
    width:40%;
    border-radius: 0.25rem;
    border:none !important;
}
.rejectDraw span::before{
    content:"\1F3F";
    font-family: Chess V3;
    
    font-size: xx-large;
    color:white !important;
}

.acceptDraw span::before{
    content: "\1F30";
    font-size: xx-large;
    font-family: Chess V3;
    color:white !important;
}