
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Roboto+Slab:wght@200;500;800&display=swap');
@media (min-width:700px) and (max-resolution:190dpi){
    * {
      --contWidth:35rem;
    }
.container{
    width:var(--contWidth);
    max-width: 90rem;
    margin:0 auto;
    height:100dvh;
    border:2px solid red;
    font-family: "Montserrat",sans-serif;
}
.signup,.signup:active,.signup:visited{
    width:95%;
    height:clamp(10px,10vh,40px);
    display:block;
    margin: auto auto;
    font-family: "Montserrat",sans-serif;

}
.or{

}
.oAuth{
    
    width:100%;
}
.oAuth a{
    display:flex;
    justify-content: center;
    gap:5rem;
    margin:auto auto;
    margin-top:clamp(5px,2vh,6px);
    width:70%;
    height:5%;
    border-radius: 10px;
    font-family: "Montserrat",sans-serif;
    font-size: clamp(20px,2vh,35px);
    align-items: center;
    color:white;
    
    text-decoration: none;
    background-color:rgba(0,0,0.1,0.2);
}

.google,.facebook,.apple{
    
    width:1.5rem;
    height:1.5rem;
}
.google{
    background: url("https://www.chess.com/bundles/web/images/socials/google.d19562c0.svg") ;
    background-size:contain;
}
.apple{
    background: url("https://www.chess.com/bundles/web/images/socials/apple.d77d954d.svg") ;
    background-size:contain;
}
.facebook{
    background: url("https://www.chess.com/bundles/web/images/socials/facebook.a8fa98c7.svg") ;
    background-size:contain;
}
.dividerDiv{
    margin:clamp(5px,2vh,14px) auto;
    display:flex;
    justify-content: center;
    width:100%;
    gap: 2%;
    

}
.guest{
    color:White;
    width:calc(var(--contWidth)/5);
    margin:clamp(10px,5%,20px) auto;
    display:block;
}
.divider{
    width:30%;
    display:inline-block;
    background-color: grey;
    height:0.1rem;
    align-self: center;

}
img{
    margin:auto auto;
    display:block;
    border: 2px solid red;
}
.chessLabel{
display:flex;
width:30%;

height:5%;
border:2px solid green;
align-items: center;
justify-content: center;
margin: 5% auto;


}
.remComp{
    height:90%;
    width:var(--contWidth);
    font-weight: 600;
    margin:auto auto;
}
h1{
    margin:auto auto;
    text-align: center;
    font-size: clamp(2.5rem,3vw,2.9rem);
    word-break:normal;
    white-space-collapse:break-spaces;
    margin-bottom: clamp(1.6rem,5vw,2.4rem);
    color:white;
}
.chessLabel a{
    background:url('https://www.chess.com/bundles/web/images/logo/logo.37fd465e.svg') no-repeat 50%;
    text-indent: -990rem;
    border: 2px solid blue;
    width:13rem;
    height: 100%;
    background-size:contain ;
}
}
