


:root{
    --layoutHeight:100dvh;
    --layoutMinHeight:100dvh;
    --totalWidth:1300px;
    --optionsPane:150px;

}


    :root{
        --layoutHeight:100dvh;
        --layoutMinHeight:100dvh;
        --totalWidth:1300px;
        --optionsPane:150px;
    
    }
.layout{
    display:grid;
    
    grid-template: 1fr/140px auto;
    height:var(--layoutHeight);
    box-sizing: border-box;
    overflow-y: scroll; 
    min-height: var(--layoutMinHeight);
    margin:0;
    // border:2px solid yellow;
    
    
}
body{
    
    padding:0%;
    margin:0%;
    
}
